/* Reset básico */
* {
  background-color: rgba(0, 0, 0, 0.01);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}
body {
  background-image: url('/public/pexels-fhstudio-2747893.jpg'); /* URL da imagem */
  background-size: cover;      /* A imagem cobre toda a área */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Evita repetição da imagem */
  background-attachment: fixed; /* Mantém a imagem fixa durante o scroll */
}
header {
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  padding: 1rem;
  text-align: center;
}

header h1 {
  margin-bottom: 0.5rem;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.bio {
  padding: 2rem;
  background-color: #fff;
  margin: 1rem 0;
  text-align: center;
}

.galeria {
  padding: 2rem;
  background-color: #fafafa;
}

.galeria h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.grid-item img {
  width: 100%;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.grid-item img:hover {
  transform: scale(1.05);
}

.contato {
  padding: 2rem;
  background-color: #fff;
  margin: 2rem 0;
  text-align: center;
}

form {
  max-width: 600px;
  margin: 0 auto;
}

form label {
  display: block;
  margin: 10px 0 5px;
}

form input, form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #555;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}
